{% extends '::base.html.twig' %}
{% block header %}
<div class="container">
    <div class="slider-container">
        <div class="intro-text">
            <div class="intro-heading"> PAGE ERREUR </div>
            <div class="jumbotron">
                <div class="container text-center">
                    <h1>Ooops </h1>
                    <p><h2>{{ status_code }} - {{ status_text }}</h2></p>
                    <p>Il y a quelque chose de cassé, merci de contacter l'administrateur du site avec l'erreur, afin que nous puissions réparer</p>
                    <p>Veuillez nous excuser pour la gène occasionnée</p>
                    <p><a href="{{ path("my_app_billetterie_home") }}" class="btn btn-primary">Home</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
