		<footer>
			<div class="container text-center">
				<p>Designed by <a href="http://znackweb.com"><span>Znackweb</span>.com</a></p>
				<p><a href="http://znackweb.com"><span><i class="fa fa-gavel"></i> Mentions </span>Légales</a></p>
			</div>
		</footer>