{% extends "MyAppBilletterieBundle::layout.html.twig" %}


{% block title %}{{ parent() }} Accueil{% endblock %}


{% block header %}
      <div class="container">
        <div class="slider-container">
          <div class="intro-text">
              {% include'MyAppBilletterieBundle:billetterie:flashmessage.html.twig' %}
            <div class="intro-lead-in">Bienvenue sur la billetterie du Louvre!</div>
            <div class="intro-heading">RESERVEZ VOTRE BILLET MAINTENANT!</div>
            <a href="{{ path('my_app_billetterie_cde') }}" class="page-scroll btn btn-xl"><i class="fa fa-ticket fa-3x"></i> Commandez ici</a>
            <!--<a class="btn btn-lg btn-success" href="#"><i class="fa fa-ticket fa-3x"></i> Commandez i ci </a></p>-->
          </div>
        </div>
      </div>
{% endblock %}